.focus-item {
  width: 80%;
  max-width: 500px;
}

.focus-items-form {
  justify-content: space-between;
}

.pre-practice-focus-item {
  width: 100%;
}

.form-title {
  background-color: #339966;
  color: #fefff3;
  border-radius: 4px;
}

.create-account-form,
.login-form,
.pre-practice-form,
.post-practice-form {
  background-color: #336699;
  color: #fefff3;
  border-radius: 6px;
}

.edit-reflection-text-area {
  width: 100%;
  border-radius: 4px;
}

@media (min-width: 320px) {
  .focus-items-form,
  .reflection-text-area {
    width: 100%;
  }

  .login-form-inputs,
  .create-account-form-inputs {
    width: 40%;
  }
}

@media (min-width: 720px) {
  .focus-items-form,
  .reflection-text-area {
    width: 75%;
  }

  .login-form-inputs,
  .create-account-form-inputs {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .focus-items-form,
  .reflection-text-area {
    width: 50%;
  }

  .login-form-inputs,
  .create-account-form-inputs {
    width: 20%;
  }
}

.button {
  background-color: #339966 !important;
  color: white !important;
}
