.navbar-image {
  width: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.nav-link {
  color: #fefff3;
}

@media only screen and (max-width: 760px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
  }  
}
